@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
}


html{
    font-family: 'Vazir';
    height: 100%;
    font-size: 10px;
}


body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
    flex-direction: column;
    margin: 0px;
    
     
    
}


body.show_jinx{
    background-image: url('extra.png'); /* Add your image path here */
    background-size: cover;
}



nav {
    background-color: aqua;
    width: 100%;
    position: fixed; /* Fix the navbar at the top */
    top: 0; /* Stick to the top */
    left: 0;
    z-index: 1000; /* Ensure it appears above other elements */
    display: flex;
    padding-left: 56px;
    padding-right: 56px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
}





#choose_the_city{
    display: flex;
    align-items: center;
}



#page_title{

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;

    color: #051320;

}


#city_choose{
    
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
}



#location_icon{
    width: 32px;
    height: 32px;
    margin-left: 8px;
}


#arrow_icon{
    width: 20px;
    height: 20px;
}



footer{
    width: 100%;
    background-color: gold;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    margin-top: 70px;
}



#footer.slid-up {
    transform: translateY(200px);
}



#footer_logo{
    width: 32px;
    height: 32px;
    margin-left: 16px;

}


#footer_text{
    
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;

}


#starkooch{

    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    columns: #01CD98;
}



#weather_girl{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #57c4ef;
    height: 677px;
    transition: transform 0.5s ease-in-out;
    margin-top: 60px;
    
}

#weather_girl.slid-up {
    transform: translateY(-80%);
}



#weather_girl_predicts{
    width: 488px;
    height: 637px;
    background-color: gold;
    
    
}



#choose_the_city{
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-size: 1.6rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 20px;
}


#choose_the_city:hover {
    background-color:rgb(169, 160, 236); /* White background on hover */
    color: black; /* Black text on hover */
    
}




#country_drop_down{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}



.show {
  display: flex !important;
  flex-direction: column;

 
  height: 200px;
  flex-wrap: nowrap;
  overflow-y: auto;
}







.contries{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
}



.contries:hover {
    background-color:rgb(199, 237, 31); /* White background on hover */
    color: black; /* Black text on hover */
    
}




#city_drop_down{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    right: 100%;
    top: 50%;
   
    margin-top: -1px;
}



.cities{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.cities:hover {
    background-color:rgb(199, 237, 31); /* White background on hover */
    color: black; /* Black text on hover */
    
}



#country_cities{
    display: flex;
    position: relative;
    background-color: red;
    

    
}



.day_sections{
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-top: 40px;
}