@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
}


html{
    font-family: 'Vazir';
    height: 100%;
    font-size: 10px;
    display: flex;
}


body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #EBEBEB;
    flex-direction: column;
    margin: 0px;
    
     
    
}

body.show_jinx {
    background-image: url('extra.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    margin: 0;
    height: 100vh; 
}

@media (max-width: 740px) {  
    body.show_jinx{
        background-image: url('extra2.png');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center center; 
        margin: 0; 
        height: 100vh; 
    }
}



nav {
    background-color: #EBEBEB;

    border-bottom: 1px solid #d1d1d1;
    width: 100%;
    position: fixed; /* Fix the navbar at the top when slid up accurs */
    top: 0; 
    left: 0;
    z-index: 1000; /* Ensure it appears above other elements when the sliding happens */
    display: flex;
    padding-left: 56px;
    padding-right: 56px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    height: 60px; 
}





#choose_the_city{
    display: flex;
    align-items: center;
}



#page_title{

    font-size: 1.8rem;
    font-weight: 700;
    line-height: 16px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;

    color: #051320;

}


#city_choose{
    
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;

    color: #919191;
}




#location_icon{
    width: 32px;
    height: 32px;
    margin-left: 8px;
}


@media (max-width: 740px) {  
    #location_icon{
        filter: grayscale(100%) brightness(0.4);
        
    }
}


#arrow_icon{
    width: 20px;
    height: 20px;
}



footer{
    width: 100%;
    background-color: #EBEBEB;
    display: flex;
    justify-content:center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    margin-top: 70px;
    margin-bottom: 30px;
}



#footer.slid-up {
    transform: translateY(200px);
}



#footer_logo{
    width: 32px;
    height: 32px;
    margin-left: 16px;

}


#footer_text{
    
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;


}


#starkooch{

    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    
    color: #01CD98;
}



#weather_girl{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBEBEB;
    height: 100%;
    transition: transform 1s ease-in-out;
    margin-top: 60px;
    
}

#weather_girl.slid-up {
    transform: translateY(-95%);
}






#choose_the_city{
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-size: 1.6rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 20px;
}


#choose_the_city:hover {
    background-color:rgb(248, 242, 134); /* White background on hover */
    color: black; /* Black text on hover */
    
}




#country_drop_down{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}



.show {
  display: flex !important;
  flex-direction: column;

 
  height: 200px;
  flex-wrap: nowrap;
  overflow-y: auto;
}







.contries{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 1.5rem;
}



.contries:hover {
    background-color:rgb(199, 237, 31); /* White background on hover */
    color: black; /* Black text on hover */
    
}




#city_drop_down{
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
    right: 100%;
    top: 50%;
   
    margin-top: -1px;
}



.cities{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.cities:hover {
    background-color:rgb(199, 237, 31); /* White background on hover */
    color: black; /* Black text on hover */
    
}



#country_cities{
    display: flex;
    position: relative;
    background-color: #EBEBEB;
    

    
}



.day_sections{
    display: flex;
    border: 0.8px solid #d1d1d1;
    flex-direction: column;
    justify-content: space-between;
    width: 88px;
    border-radius: 6px;
    font-size: 2rem;
    align-items: center;

}


.temp_p{
    
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #051320;
    margin: 16px 0px 0px 0px;
    

}



.day_p{


    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #051320;
    margin: 6px 0px 6px 0px;
}


#forecast_intro{

    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #051320;
    
}




#forecast_day_sections{
    background-color: #EBEBEB;
    display: flex;
    width: 488px;
    
    justify-content: space-between;
}




#forecast_day_sections img{
    width: 48px;
    height: 48px;
}









#weather_girl_predicts.day_sections{
    display: flex;
    align-items: center;
}



#day1{
    background-color: #EBEBEB;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 488px;
    padding: 12px;
    box-sizing: border-box;


    border: none;
    
}



#day1 img{
    width: 200px;
    height: 200px;
    
}



#day1 p:first-of-type {

    font-size: 8rem;
    font-weight: 600;
    line-height: 80px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #051320;
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
}




#day1 p:last-of-type {
    

    font-size: 1.5rem;
    font-weight: 400;
    line-height: 15px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #B3B3B3;
    margin: 0px;

}




#humidity{
    display: none;
    bottom: red;
    
}



#wind{
    display: none;
}


.show_humidity_wind{
    display: flex !important;
    background-color: #EBEBEB;
    justify-content: space-between;
    width: 488px;



    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    text-align: right;
    text-underline-position: "from-font";
    text-decoration-skip-ink: none;
    color: #051320;


}



@media (max-width: 970px) {  
    #day1 img{
        width: 160px;
        height: 160px;
        
}
#day1 p:first-of-type {
    font-size: 6rem;
}


#day1 p:last-of-type {
    font-size: 1.2rem;
}

.show_humidity_wind{
    width: 360px;
}

#forecast_day_sections{
    width: 360px;
}

.day_sections{
    width: 64.8px;
    
}
.day_sections p:first-of-type{
    font-size: 1.5rem;
    
}
.day_sections p:last-of-type{
    font-size: 1.2rem;
    
}

}


@media (max-width: 380px) {  
    .show_humidity_wind{
        width: 330px;
    }
    .day_sections{
        width: 66px;
        display: flex;
        justify-content:space-evenly;
    }
}



.show_humidity_wind p{
    margin: 24px;
}



